<ul class="b-command-list">
    <p class="b-command-list__title">help</p>
    <li *ngFor="#command of commandList" class="b-command-list__command"><span (click)="checkCommand(command)" class="b-command-list__text">{{command}}</span></li>
</ul>