<div class="l-main">
    <div class="b-role m-manager-role_{{role}}">
        <p class="b-role__name g-{{role}}">{{participants?.current?.firstName}}</p>
        <p class="b-role__role">{{role}}</p>
    </div>
    <!--<commandlist></commandlist>-->
    <ul class="b-command-list" [ngClass]="{'m-command-list_disabled' : role != currentActor || missionCompleted}">
        <p class="b-command-list__title">commands</p>
        <li *ngFor="let command of commandList" class="b-command-list__command">
            <span [ngClass]="{'m-command-list__text_mechanic': role == 'mechanic'}" *ngIf="command != 'moveForward(1);'" (click)="chooseCommand(command)" class="b-command-list__text">{{command}}</span>
            <span [ngClass]="{'m-command-list__text_mechanic': role == 'mechanic'}" *ngIf="command == 'moveForward(1);'" (click)="chooseCommand(command)" class="b-command-list__text">moveForward();</span>
        </li>
    </ul>
    <ul class="b-command-log">
        <div class="b-command-log__inner j-command-log">
            <li *ngFor="let lineOfLog of commandLog" [ngClass]="{'m-command-log__row_active': lineOfLog.role == role}" class="b-command-log__row">
                <span class="b-command-log__role g-{{lineOfLog.role}}">{{lineOfLog.role}}</span>
                <span *ngIf="lineOfLog.command != 'moveForward(1)'" class="b-command-log__command">{{lineOfLog.command}}</span>
                <span *ngIf="lineOfLog.command == 'moveForward(1)'" class="b-command-log__command">moveForward()</span>
            </li>
        </div>
    </ul>
    <!--<commandline></commandline>-->
    <ol class="b-command-textarea">
        <div class="b-command-textarea__inner j-command-window">
            <li *ngFor="let commandToSend of commandsToSend; let i = index" (click)="deleteCommand(i)" class="b-command-textarea__command">
                <span class="b-command-textarea__x">x</span>
                <span *ngIf="commandToSend != 'moveForward(1);'">{{commandToSend}}</span>
                <span *ngIf="commandToSend == 'moveForward(1);'">moveForward();</span>
            </li>
        </div>
        <button (click)="sendCommands()" [disabled]="role != currentActor || missionCompleted" class="b-run-button">run</button>
    </ol>
    <div class="b-console-title">cmd<span class="b-console-title__dash">&ndash;</span></div>
    <div class="b-roles-alt">
        <div *ngFor="let participant of participants?.other" class="b-role m-role_{{participant.role}} m-role_small">
            <p class="b-role__name">{{participant.firstName}}</p>
            <p class="b-role__role">{{participant.role}}</p>
        </div>
    </div>
</div>
