@font-face {
    font-family: 'Gothic';
    src: url('../font/bgothm.eot'); /* IE9 Compat Modes */
    src: url('../font/bgothm.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/bgothm.woff') format('woff'), /* Pretty Modern Browsers */
    url('../font/bgothm.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../font/bgothm.svg#svgFontName') format('svg'); /* Legacy iOS */
}

* {
    border: 0;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Gothic';
    font-size: 40px;
    background: #fff;
    text-transform: lowercase;
    color: #009fe3;
}

.g-clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.l-main {
    width: 1280px;
    height: 800px;
    background: url('../img/bg.png') no-repeat;
    position: relative;
}

.b-role {
    width: 340px;
    min-height: 162px;
    background-repeat: no-repeat;
    background-position: left top;
    position: absolute;
    left: 116px;
    top: 30px;
    box-sizing: border-box;
    padding: 25px 0 0 165px;
}
.m-manager-role_operator {
    background: url('../img/operator-img.png') no-repeat left bottom;
}
.m-manager-role_engineer {
    background: url('../img/engineer-img.png') no-repeat left bottom;
}
.m-manager-role_mechanic {
    background: url('../img/mechanic-img.png') no-repeat left bottom;
}
.m-role_small {
    width: 279px;
    height: 104px;
    min-height: 104px;
    position: relative;
    left: 0;
    top: 0;
    padding: 0 0 0 110px;
    font-size: 26px;
    margin-top: 15px;
}
.m-role_small:first-child {
    margin-top: 0;
}
.m-role_small.m-role_operator {
    background-image: url('../img/operator-icon-small.png');
}
.m-role_small.m-role_engineer {
    background-image: url('../img/engineer-icon-small.png');
}
.m-role_small.m-role_mechanic {
    background-image: url('../img/mechanic-icon-small.png');
}
.b-role__name {
    font-size: 28px;
    min-height: 30px;
}
.g-operator {
    color: #FFC900;
}
.g-mechanic {
    color: #E95934;
}
.g-engineer {
    color: #00A14D;
}
.m-role_small .b-role__name,
.m-role_small .b-role__role {
    font-size: 24px;
    min-height: 24px;
}
.b-role__role {
    font-size: 34px;
    margin-top: 9px;
    letter-spacing: -1px;
}
.m-role_small .b-role__role {
    margin-top: 13px;
}

.b-command-list {
    left: 116px;
    top: 225px;
    width: 275px;
    position: absolute;
}
.b-command-list__title {
    width: 260px;
    height: 50px;
    line-height: 46px;
    text-align: center;
    letter-spacing: -2px;
    border: 1px dashed #009fe3;
    border-radius: 15px;
}
.b-command-list__command {
    margin-top: 12px;
    list-style: none;
}
.b-command-list__command:first-of-type {
    margin-top: 25px;
}
.b-command-list__text {
    display: inline-block;
    color: #00131a;
    font-size: 32px;
    padding: 0 4px 2px 4px;
    border-radius: 10px;
    background: #00597f;
    text-transform: none;
    cursor: pointer;
}
.m-command-list_disabled {
    opacity: .5;
}
.m-command-list_disabled .b-command-list__text {
    cursor: default;
}
.m-command-list__text_mechanic {
    letter-spacing: -3px;
    font-size: 28px;
}

.b-command-log {
    position: absolute;
    width: 430px;
    left: 460px;
    top: 130px;
    font-size: 26px;
    list-style: none;
    letter-spacing: -2px;
    height: 370px;
}
.b-command-log__inner {
    overflow-x: hidden;
    overflow-y: auto;
    height: 370px;
}
.b-command-log__inner::-webkit-scrollbar,
.b-command-textarea__inner::-webkit-scrollbar {
    width: 10px;
}
.b-command-log__inner::-webkit-scrollbar-track,
.b-command-textarea__inner::-webkit-scrollbar-track {
    background: #009fe3;
    border-radius: 10px;
}
.b-command-log__inner::-webkit-scrollbar-thumb,
.b-command-textarea__inner::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #00131a;
}
.b-command-log__inner::-webkit-scrollbar-thumb:window-inactive,
.b-command-textarea__inner::-webkit-scrollbar-thumb:window-inactive {
    background: #001d28;
}
.b-command-log__row {
    margin-top: 4px;
}
.b-command-log__role {
    width: 144px;
    height: 29px;
    text-align: center;
    border: 2px solid #009fe3;
    display: inline-block;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 23px;
    line-height: 28px;
    opacity: .8;
}
.b-command-log__command {
    color: #00131a;
    text-transform: none;
    margin-left: 5px;
}
.m-command-log__row_active .b-command-log__role {
    background: #009fe3;
    opacity: 1;
}
.m-command-log__row_active .b-command-log__command {
    color: #009fe3;
}

.b-command-textarea {
    position: absolute;
    width: 754px;
    height: 160px;
    left: 381px;
    bottom: 104px;
    font-size: 26px;
    list-style: none;
    counter-reset: point;
}
.b-command-textarea__inner {
    overflow-x: hidden;
    overflow-y: auto;
    height: 160px;
}
.b-command-textarea__command {
    margin-top: 15px;
    line-height: 19px;
    text-transform: none;
    position: relative;
    cursor: pointer;
    padding-left: 50px;
}
.b-command-textarea__x {
    position: absolute;
    left: 0;
    color: red;
    font-size: 36px;
}
.b-command-textarea__command:before {
    content: counter(point);
    counter-increment: point 1;
    left: -50px;
    position: absolute;
}
.b-command-textarea__command:first-child {
    margin-top: 0;
}

.b-run-button {
    position: absolute;
    width: 220px;
    height: 80px;
    text-align: center;
    right: -22px;
    background: transparent;
    cursor: pointer;
    bottom: -65px;
    font-family: 'Gothic';
    color: #00131a;
    font-size: 38px;
    padding-bottom: 10px;
    letter-spacing: -2px;
}
.b-run-button:active,
.b-run-button:focus {
    outline: none;
}
.b-run-button[disabled] {
    opacity: .5;
    cursor: default;
}

.b-console-title {
    position: absolute;
    right: 140px;
    top: 65px;
    width: 170px;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: -5px;
    font-size: 36px;
}
.b-console-title__dash {
    vertical-align: sub;
    margin-left: 5px;
}

.b-roles-alt {
    width: 280px;
    position: absolute;
    right: 80px;
    top: 180px;
}